<template name="footer">
    <footer class="page-footer light-blue accent-3">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Phlo Tech Challenge</h5>
              <p class="grey-text text-lighten-4">Find doctors and book appointments.</p>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2020 Adi Laiman
          <a class="grey-text text-lighten-4 right" href="#top-page">Go to top</a>
          </div>
        </div>
    </footer>
</template>